/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Base Whole Section Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F3F1FF;
}
.container{
    max-width: 870px;
    margin: 0 auto;
    padding: 0 20px;
}
section{
    margin: 10px;
}
/* Animation Section */
@keyframes slideDown {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes fadeSlide {
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
/* Header Styles  css here*/
header{
    background: #562EFF;
    height: 100px;
    padding:10px 0;
    border: 2px solid #ffffff;
    animation: slideDown 1s ease .0s 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .container{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #fff;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 45px;
}
.header-logo:hover{
    /* transform: scale(1.1); skew(30deg)rotate(60deg);
    transition: transform 2s ease-in-out; */
    transform: scale(1.1) rotate(360deg);
    transition: transform 2s ease-in-out;
    
}
.header-h1{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 36px;
    margin: 0 16px;
}
.header-h1:hover{
    color: #FF4A60;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navigation-items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-items ul li{
    list-style: none;
    margin-right: 36px;
    overflow: hidden;
    position: relative;
    
}
.navigation-items li a{
    color:#ffffff;
    text-decoration: none;
    display: block;

}
.navigation-items li a:hover{
    color:#FF4A60;
}
.profile{
    display:flex;
    align-items: center;
    margin-left: 10px;
    border: 4px solid #fff;
    border-radius: 50px;
}
.profile:hover{
    transform: scale(1.1); /*skew(30deg)rotate(60deg); */
    transition: transform 2s ease-in-out;
    border: 4px solid #FF4A60;
}
/*--------------------------------------------*/
.border-bottom{
    background-color: rgb(255, 255, 255);
    height: 2px;
    border-radius: 25px;
    transform: translateX(-66px) translateY(0px);
    transition: 0.2s linear;
}

.navigation-items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-items ul li:hover .border-bottom{
    transform: translateX(0px);

}
/*Top banner Player Section */
#top-section .container{
    background-color: #fff;
    margin-top:40px;
    padding:30px;
    border-radius:10px;
    animation: fadeSlide 1.5s ease 0s 1;
} 
.section-title{
    margin-bottom:30px;
    color: #562EFF;
    font-size:20px;
}
.player-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.single-player{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 100px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.single-player:hover{
    box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 13%);
    cursor:pointer;
}
.player-image{
    margin-right:10px;
    display:flex;
}
.player-image img{
    width:56px;
    height:56px;
}
/* Hr cs codes */
hr{
    border-top:1px solid #f5f5f5;
    margin:40px 0 30px 0;
}
/*Top another Blog section */
.blog-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.single-blog{
    display:flex;
    animation: slideRight .7s ease .1s 1;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 20px;
}
.single-blog:hover{
    box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 13%);
    cursor:pointer;
}
.blog-image{
    display: flex;
    flex: 1;
}
.blog-image img{
    width:100%;
}
.blog-text{
    flex:1;
    padding-left:15px;
}
.blog-author{
    margin-top:5px;
}
.blog-author span{
    color:#562EFF
}
/* Latest Course Section  */
#latest-course .container{
    background-color: #fff;
    margin: 20px auto;
    padding: 30px;
    border-radius: 5px;
    animation: fadeSlide 2s ease 0s 1;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.single-course{
    padding: 15px;
    border-radius:20px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.single-course:hover {
    box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 13%);
    cursor: pointer;
}
.course-banner img{
    width: 100%;
}
.instructor{
    color:#ED6B4F;
    font-size:15px;
}

.course-bottom{
    margin-top:25px;
    display: flex;
    justify-content: space-between;
} 
.fa-star.filled{
    color: #FFC014;
    margin:-2px;
}
.fa-star-half-alt{
    color: #FFC014;
    margin-left: -3px;
}
.fa-star.empty{
    color: #AEAEAE;
    margin:-2px;
}
.course-rating {
    margin-left:5px;
}
.course-rating span{
    color: #AEAEAE;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 400;
}
.course-duration{
    background-color: #FFE4E8;
    padding: 0 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
i.fa-clock {
    margin-top: 5px;
    margin-right: 5px;
    color:#FF4A60;
}
.course-duration .time{
    font-size:13px;
    color:#FF4A60;
}
/* footer section start */
.container{
    width: 870px;
    margin-top: 21px;
}
.footer-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #562EFF;
    border-radius: 10px 10px 0 0;
    padding: 10px 30px;
    animation: fadeSlide 2.5s ease 0s 1;
}
.footer-section .logo img{
    width: 30px;
}
.footer-logo:hover{
    transform: scale(1.1) rotate(360deg);
    transition: transform 2s ease-in-out;
}
.social-icons{
    display: flex;
}
.social-icons i{
    margin-left:15px;
    font-size:20px;
    color:#fff;
}
.social-icons i:hover{
    color:#FF4A60;
}
/* Media Queries small device*/
@media only screen and (max-width:688px){
    header{
        width: 100%;
        justify-content: space-between;
    } 
    .border-bottom{

        transform: translateX(-50px) translateY(0px);
    }
   .container{
    margin-left: 15px;
    }
    .navigation{
        margin-right: 15px;
        margin-left: 45px;
    }
    
    .navigation-items li{
    padding:0 10px;
    }
    .navigation-items ul li{
        margin-right:7px;
    }
    
    .profile{
        margin-left: 10px;
    }
    section{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .section-title{
        text-align: center;
    }
    
    /* #top_section .container{
        padding: 20px;
    } */
    .latest-course{
        height: 100%;
        margin-bottom: 30px;
    }
    
    .player-content{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    } 

    .single-player{
        flex-direction: column;
    }
    .top-blog{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: auto;
    }
    .single-blog{

        display: grid;
        grid-template-rows: repeat(2,1fr);
        justify-items: left;
    }
    
    .blog-text{
        margin-left: 0;
        padding-right: 10px;
    }
    .blog-text .blog-title{
        width: 100%;
    }

    .blog-content{
        grid-template-columns: repeat(1,1fr);
    }
    .courses{
        margin-bottom: 30px;
    }
    #latest_course .container{
        grid-template-columns: repeat(1,1fr);
    }
}